.A{
    font:400;
}
.B{
    font-weight: bold;
}
.C{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
a{
    text-decoration:none;   
}
